---
import Layout from "@layouts/Layout.astro";
import PortableText from "@components/PortableText.astro";
import Image from "@components/Image.astro";
import { getPages } from "@lib/api";
import { slugify, formatDate } from "@lib/util";

export const getStaticPaths = async () => {
  const pages = await getPages();

  return pages.map((page) => {
    return {
      params: {
        slug: page.isArchived
          ? `/archive/${page.date}-${slugify(page.title)}`
          : page.slug
            ? page.slug
            : slugify(page.title),
      },
      props: page,
    };
  });
};

const { title, date, seo, body, mainImage, isArchived } = Astro.props;
const author = seo.authorDisplay || seo.author;
---

<Layout
  title={title}
  description={seo.description}
  author={author}
  image={seo.image || mainImage}
>
  <h1>{title}</h1>

  {
    author && (
      <div class="blog__date">
        {formatDate(date)}, by
        {author}
      </div>
    )
  }

  {
    isArchived && (
      <p>
        <a href="/archive/1" title="Back to archive">
          ⟵ Back to archive
        </a>
      </p>
    )
  }

  {
    mainImage && (
      <Image image={mainImage} width={800} height={350} cssClass="main-image" />
    )
  }

  <PortableText portableText={body} />

  {
    isArchived && (
      <p>
        <a href="/archive/1" title="Back to archive">
          ⟵ Back to archive
        </a>
      </p>
    )
  }
</Layout>
