---
import Layout from "@layouts/Layout.astro";
import PortableText from "@components/PortableText.astro";
import Image from "@components/Image.astro";
import NewsItem from "@components/NewsItem.astro";
import { getHome } from "@lib/api";

const home = await getHome();
---

<Layout title={home.title} description={home.seo.description}>
  <h1>{home.title}</h1>

  {
    home.seo.authorDisplay && (
      <div class="blog__date">
        {home.date}, by
        {home.seo.authorDisplay}
      </div>
    )
  }

  {
    home.mainImage && (
      <Image
        image={home.mainImage}
        width={800}
        height={350}
        cssClass="main-image"
      />
    )
  }

  <PortableText portableText={home.body} />

  {
    home?.news.length > 0 && (
      <section class="news" slot="bottom">
        <div class="container">
          <h2>Latest news</h2>

          <div class="news__items">
            {home.news.map((item) => (
              <NewsItem {...item} />
            ))}
          </div>
        </div>
      </section>
    )
  }
</Layout>

<style lang="scss" is:global>
  .news {
    background-image: linear-gradient(
      to bottom right,
      rgba($colour-red, 0.6),
      #fff
    );
    padding-top: $vertical-spacing;
    margin: $vertical-spacing * 2 0 $vertical-spacing * -1 0;
    color: #fff;

    h2 {
      text-transform: uppercase;
    }

    @include mq($from: tablet) {
      padding-bottom: $vertical-spacing;

      h2 {
        font-size: 2.5rem;
      }
    }
  }
</style>
