---
import { getSiteData } from "@lib/api";
import { createPath, urlForImage } from "@lib/util";
import logoWebp from "@assets/images/logo.webp";
import "../assets/style/global.css";

interface Props {
  title: string;
  description: string;
  author?: string;
  image?: any;
}

const siteData = await getSiteData();

const { title, description, author, image } = Astro.props;

const imageUrl = image
  ? urlForImage(image).width(280).height(150).auto("format").url()
  : logoWebp.src;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content={author || "OBPSFA"} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:site" content="odpsfa" />
    <meta name="twitter:creator" content="odpsfa" />
    <meta name="twitter:image" content={imageUrl} />

    <meta name="og:type" content="article" />
    <meta name="og:title" content={title} />
    <meta name="og:description" content={description} />
    <meta name="og:url" content={Astro.url} />
    <meta name="og:image" content={imageUrl} />

    <title>{title}</title>
  </head>
  <body>
    <div class="layout">
      <header class="header">
        <div class="header__top-bar">
          <div class="container">
            <div class="header__top-links" data-menu-close>
              <a
                class="header__top-link"
                href="/ground-details"
                title="Ground details">Ground</a
              >
              <a class="header__top-link" href="/archive/1" title="Archive"
                >Archive</a
              >
              <a
                class="header__top-link"
                href="mailto:mail.obpsfa.com"
                title="Send us an email"
                target="blank"
                rel="noopener noreferer">Email</a
              >
              <a
                class="header__top-link"
                href="https://twitter.com/odpsfa"
                title="View our Twitter feed"
                target="blank"
                rel="noopener noreferer"
              >
                <svg viewBox="0 0 512 512">
                  <path
                    d="M419.6 168.6c-11.7 5.2-24.2 8.7-37.4 10.2 13.4-8.1 23.8-20.8 28.6-36 -12.6 7.5-26.5 12.9-41.3 15.8 -11.9-12.6-28.8-20.6-47.5-20.6 -42 0-72.9 39.2-63.4 79.9 -54.1-2.7-102.1-28.6-134.2-68 -17 29.2-8.8 67.5 20.1 86.9 -10.7-0.3-20.7-3.3-29.5-8.1 -0.7 30.2 20.9 58.4 52.2 64.6 -9.2 2.5-19.2 3.1-29.4 1.1 8.3 25.9 32.3 44.7 60.8 45.2 -27.4 21.4-61.8 31-96.4 27 28.8 18.5 63 29.2 99.8 29.2 120.8 0 189.1-102.1 185-193.6C399.9 193.1 410.9 181.7 419.6 168.6z"
                  ></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="container">
          <nav class="header__nav">
            <div class="header__bottom-bar">
              <div data-menu-close>
                <a href="/" class="header__logo" title="Home">Home</a>
              </div>

              <button class="header__menu-toggle" data-menu-toggle>Menu</button>
            </div>
            <div class="header__nav-links" data-menu-close>
              <a
                class="header__nav-link"
                href="/"
                class:list={{ active: !Astro.params.slug }}>Home</a
              >
              {
                siteData?.navigation.map((item) => (
                  <a
                    class="header__nav-link"
                    href={createPath(item.slug)}
                    title={item.title}
                    class:list={{ active: item.slug === Astro.params.slug }}
                  >
                    {item.title}
                  </a>
                ))
              }
            </div>
          </nav>
        </div>
      </header>

      <main class="main">
        <slot name="top" />
        <div class="container">
          <slot />
        </div>
        <slot name="bottom" />
      </main>

      <footer class="footer">
        <div class="container">
          <ul>
            <li>©{new Date().getFullYear()} OBPSFA</li>
            <li>
              <a href="/safeguarding-children-policy-and-procedures"
                >Safeguarding</a
              >
            </li>
            <li><a href="/anti-bullying-policy">Anti-bullying</a></li>
            <li><a href="/codes-of-conduct">Codes of conduct</a></li>
            <li>
              <a href="/changing-room-guidance">Changing room guidance</a>
            </li>
          </ul>
        </div>
      </footer>
    </div>
  </body>
</html>
<style
  define:vars={{
    logoWebp: `url(${logoWebp.src})`,
  }}
  is:global
>
  .menu-active {
    main,
    footer {
      display: none;

      @media desktop {
        display: block;
      }
    }
  }

  .layout {
    display: flex;
    min-height: 100vh;
    min-width: 320px;
    flex-direction: column;
  }

  .header {
    background: #fff;
    border-bottom: 2px solid rgba(var(--colour-grey-rgb), 0.4);
    z-index: 2;
    position: sticky;
    top: 0;
    margin-bottom: 10px;

    .menu-active & {
      border-bottom-width: 0;
    }

    @media desktop {
      position: static;
      margin: var(--vertical-spacing) 0;
      height: auto;
      border-bottom-width: 2px !important;
      background: rgba(var(--colour-blue-rgb), 0.7);
    }

    .header__nav {
      @media desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    &__top {
      &-bar {
        background-color: var(--colour-red);
        color: #fff;
        text-align: right;
        text-transform: uppercase;
        font-weight: bold;
      }

      &-links {
        display: flex;
        justify-content: flex-end;
      }

      &-link {
        display: flex;
        align-items: center;
        color: #fff;
        text-decoration: none;
        padding: 5px;
        font-size: 0.8rem;

        @media desktop {
          font-size: 1rem;
          padding: 10px;

          &:hover {
            background: rgba(var(--colour-grey-rgb), 0.3);
          }
        }

        svg {
          display: inline-block;
          width: 32px;
          height: 32px;
          fill: #fff;
        }
      }
    }

    &__bottom-bar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background: rgba(var(--colour-blue-rgb), 0.7);
      margin: 0 calc(var(--gutter) * -1);
      padding: 0 var(--gutter);

      @media desktop {
        background: none;
      }
    }

    &__logo {
      display: block;
      background-image: var(--logoWebp);
      background-color: #fff;
      background-repeat: no-repeat;
      width: 100px;
      height: 100px;
      background-size: cover;
      text-indent: -9999px;
      border: 5px solid #fff;
      border-radius: 110px;
      margin: calc(var(--vertical-spacing) * -1) 0
        calc(var(--vertical-spacing) * -0.5) 0;
      z-index: 2;

      @media tablet {
        width: 150px;
        height: 150px;
        border-radius: 78px;
        border-width: 6px;
      }

      @media desktop {
        width: 204px;
        height: 204px;
        border-radius: 120px;
        border-width: 8px;
        margin: calc(var(--vertical-spacing) * -2.5) 0
          calc(var(--vertical-spacing) * -1) calc(var(--gutter) * -1);
      }
    }

    &__menu-toggle {
      right: 10px;
      text-transform: uppercase;
      background: var(--colour-blue);
      border: none;
      font-weight: bold;
      padding: 10px;
      font-size: 1rem;
      color: var(--colour-grey);

      &:after {
        content: "\2630";
        width: 20px;
        display: inline-block;
        text-align: right;
      }

      .menu-active &:after {
        content: "\2715";
      }

      @media desktop {
        display: none;
      }
    }

    &__nav-links {
      text-align: right;
      display: none;
      background: #fff;
      margin: 0 calc(var(--gutter) * -1);
      padding: var(--gutter);
      border-top: 2px solid rgba(var(--colour-grey-rgb), 0.4);

      .menu-active & {
        display: block;
      }

      @media desktop {
        display: block;
        background: transparent;
        border: 0;
      }
    }

    &__nav-link {
      padding: 10px 0;
      text-transform: uppercase;
      text-decoration: none;
      color: var(--colour-grey);
      font-weight: bold;
      border-bottom: 2px solid transparent;
      display: block;
      transition: border-color 0.2s ease-in-out;

      &.active,
      &:hover {
        border-color: var(--colour-grey);
      }

      @media desktop {
        padding: 5px 0;
        margin: 10px;
        display: inline;
      }
    }
  }

  .footer {
    background: var(--colour-grey);
    color: #fff;
    padding: var(--vertical-spacing) 0;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;

      @media desktop {
        flex-direction: row;
      }
    }

    li {
      padding: 0 0 20px 0;

      @media desktop {
        padding: 0 20px 0 0;
      }
    }

    a {
      color: #fff;
    }

    @media desktop {
      padding: calc(var(--vertical-spacing) * 2) 0;
    }
  }
</style>
<script>
  document.querySelectorAll("[data-menu-close]")?.forEach((el) =>
    el.addEventListener("click", () => {
      document.body.classList.remove("menu-active");
    }),
  );

  document
    .querySelector("[data-menu-toggle]")
    ?.addEventListener("click", () => {
      document.body.classList.toggle("menu-active");
    });
</script>
